@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.navbar{
    position: fixed;
    width: 100%;
    background: #ffffff;
    padding: 30px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color:#000000;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color:#d90000;
}
.navbar .menu li{
    list-style: none;
    display:inline-block;
}
.navbar .menu li a{
    color:#d90000;
    font-size:18px;
    font-weight: 500;
    margin-left: 25;
    transition: color 0.3s ease;
    margin: 7px;
}
.navbar .menu .li a:hover{
    color: #000000;
}
.home{
    display: flex;
    background:url(paris.png);
    height:100vh ;
    color:#000000;
    min-height: 500px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40;
}
.home .home-content .text-1{
    font-size: 60px;
    margin: -20px 5px;
}
.home .home-content .text-2{
    font-size: 115px;
    font-weight: 600;
}
.home .home-content .text-2 span{
    color:  #d90000;
    font-weight: 500;
}
.acerca{
    background-color: #ffffff;
    height:10vh;
    text-align: center;
    color:#000000;
    min-height: 500px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.acerca .a-content .text-1{
    font-size: 100px;
}
.acerca .a-content .text-2{
    font-size: 20px;
    font-weight: 500;
}
.skills{
    background: #ffffff;
    height:20vh ;
    text-align: center;
    color:#000000;
    min-height: 500px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
hr{
    opacity: 0.1;
}
.skills .max-width{
    margin: auto 0 auto 40;
}
.skills .e-content .text-1{
    font-size: 100px;
    margin: 0px 0px;
}

.wrapper{
    width: 800px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper .card{
    background: #fff;
    width: calc(33% - 20px);
    height: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    text-align: center;
  }
  .wrapper .card .circle{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: default;
    

  }
  .card .circle .box,
  .card .circle .box span{
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .card .circle .box{
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.2s;
  }
  .card .circle:hover .box{
    transform: translate(-50%, -50%) scale(0.91);
  }
  .card .circle .box span,
  .wrapper .card .text{
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .circle .box span{
    font-size: 38px;
    font-family: sans-serif;
    font-weight: 600;
    transform: translate(-45%, -45%);
    transition: all 0.1s;
  }
  .card .circle:hover .box span{
    transform: translate(-45%, -45%) scale(1.09);
  }
  .card .text{
    font-size: 20px;
    font-weight: 600;
  }
  @media(max-width: 753px){
    .wrapper{
      max-width: 700px;
    }
    .wrapper .card{
      width: calc(50% - 20px);
      margin-bottom: 20px;
    }
  }
  @media(max-width: 505px){
    .wrapper{
      max-width: 500px;
    }
    .wrapper .card{
      width: 100%;
    }
  }
.contacto{
    background: #ffffff;
    height:60vh ;
    text-align: center;
    color:#000000;
    min-height: 500px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contacto .max-width{
    margin: auto 0 auto 40;
}
.contacto .e-content .text-1{
    font-size: 100px;
    margin: 0px 0px;
}
.wrap{
    display: grid;
    margin: 100px 90px auto;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  @media (max-width: 700px) {
    .wrap{
      margin: 200px auto;
    }
  }
  .wrap .caja{
    width: 350px;
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
  }
  .wrap .caja .front-face{
    background: #fff;
    height: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
    transition: all 0.5s ease;
  }
  .caja .front-face .icon{
    height: 80px;
  }
  .caja .front-face .icon i{
    font-size: 95px;
  }
  .caja .front-face span,
  .caja .back-face span{
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .caja .front-face .icon i,
  .caja .front-face span{
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .caja .back-face{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 220px;
    width: 100%;
    padding: 30px;
    color: #fff;
    opacity: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    transform: translateY(110px) rotateX(-90deg);
    box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
    transition: all 0.5s ease;
  }
  .caja .back-face p{
    margin-top: 10px;
    text-align: justify;
  }
  .caja:hover .back-face{
    opacity: 1;
    transform: rotateX(0deg);
  }
  .caja:hover .front-face{
    opacity: 0;
    transform: translateY(-110px) rotateX(90deg);
  }
  p{
      text-align: center;
      font-size: 20px;
  }

